* {
  box-sizing: border-box;
  margin: 0;
}
#root {
  font-family: "WorkSans";
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(275, 100%, 97%);
}

#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  width: 100%;
}

.app {
  position: relative;
  background-color: hsl(0, 100%, 100%);
  width: 625px;
  padding: 42px;
  border-radius: 16px;
  box-shadow: 0 10px 10px hsl(292, 16%, 89%);
  color: hsl(292, 42%, 14%);
}

@media (max-width: 600px) {
  .app {
    width: 367px;
    padding: 24px;
    border-radius: 10px;
  }
}
.app h1 {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 57px;
  margin-bottom: 6px;
}

details:not(:last-of-type) {
  border-bottom: 1px solid hsl(275, 100%, 97%);
}
details summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  cursor: pointer;
}
details summary:hover,
details summary:focus {
  color: rgb(173 40 235);
}
details:not(:last-of-type) summary {
  padding-bottom: 28px;
}
details summary h3 {
  font-weight: 600;
  line-height: 1.3;
}

@media (max-width: 600px) {
  details summary h3 {
    font-size: 20px;
  }
}

details:not(:last-of-type) .answer {
  padding-bottom: 23px;
}

details:last-of-type .answer {
  padding-top: 28px;
}

details .answer p {
  font-weight: 400;
  line-height: 1.5;
  color: hsl(292, 16%, 49%);
}

@font-face {
  font-family: "WorkSans";
  src: url(./assets/fonts/static/WorkSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "WorkSans";
  src: url(./assets/fonts/static/WorkSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "WorkSans";
  src: url(./assets/fonts/static/WorkSans-Bold.ttf);
  font-weight: 700;
}
